body {
  overflow: hidden;
}

svg {
  margin: 10px;
  cursor: pointer;
}

div.map-tooltip {
  position: absolute;
  text-align: center;
  width: 120px;
  height: 20px;
  padding: 2px;
  background: #fff;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
  font-size: 12px;
  color: #fff;
  background-color: #333;
}
.precincts path {
  vector-effect: non-scaling-stroke;
}
.sign-in button, .sign-out, .error {
  display: none;
}
.sign-in button {
  margin-top: 10px;
}
.auth.sign-in {
  margin-top: 100px;
}
.auth.sign-in, .error {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.auth.sign-out {
  position: absolute;
  top: 10px;
  left: 5px;
}
.error {
  margin-top: 10px;
}
